.inputContainer {
  box-sizing: border-box;
  width: 100%;
  text-align: center;
  padding: 10px 0 0 0 0;
  position: fixed;
  top: 0;
  background-color: white;
  .inputArea {
    width: 50%;
    display: inline-block;
    background-color: white;
    box-shadow: 0 0 30px 8px #0000000d;
    border-radius: 30px;
    position: relative;
    input {
      width: 90%;
      height: 50px;
      border: 0;
      background: none;
      outline: none;
      padding: 10px;
      font-size: 30px;
      padding: 10px 20px;
      float: left;
    }
    .spinner {
      width: 40px;
      height: 40px;
      border: 10px solid #0000000d;
      position: absolute;
      border-radius: 50%;
      right: 5px;
      top: 2.5px;
      animation: spinner .3s infinite linear;
      border-top: 10px solid tomato;
    }
  }
}

@keyframes spinner {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
